.page{
    padding: 2em 1em;
}
input{
    padding: .2em .7em;
    border-radius: 5px;
    border: 1px solid #555;
}
label{
    letter-spacing: .08em;
}
label:not(.form-check-label)::after{
    content: ' :';
}
a{
    text-decoration: none;
    color:black;
}